<!--show our home page with login links-->

<!doctype html>
<html>
<head>
    <title>Registro de tarefas</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        body        { padding-top:80px; }
    </style>
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
</head>
<body>
<div  id="corpo_tarefas" class="container">

    <!-- <div class="jumbotron text-center"> -->
    <div class="header">
        <h1><span class="fa fa-lock"></span>Registro de tarefas</h1>

        <p class="text-center">Logue-se ou registre com:</p>

        <a href="/login" class="btn btn-default btn-lg"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default btn-lg"><span class="fa fa-user"></span> Cadastre-se</a>
        <!--<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
    </div>
    <!-- </div> -->

</div>
</body>
</html>
