<!DOCTYPE html>
<html ng-app="tarefas">
  <head>
    <title>Registro de Tarefas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="mainController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Hospidata</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="corpo_tarefas" class="container">

      <div class="header">
        <h1>Tarefas do <%= user.username %></h1>
        <hr>
        <h1 class="lead"></h1>
      </div>

      <div class="todo-form">
        <form>
          <div class="form-group">
            <input type="descr_tarefa" class="form-control input-lg" placeholder="Enter text..." ng-model="formData.descr_tarefa">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Adicionar Tarefa</button>
        </form>
      </div>

      <p class="text-center" ng-show="loading">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
      </p>

      <br>

      <div class="todo-list">
        <ul ng-repeat="tarefa in todoData">
          <li>
              <h3>
                  <input class="lead" type="checkbox" ng-click="deleteTodo(tarefa.id_tarefa)">&nbsp;{{ tarefa.descr_tarefa }} ({{ tarefa.periodo}} min) </input>
                  <button ng-if="tarefa.id_tarefa_periodo >= 1" class="button" type="btn btn-primary" ng-click="pauseTarefa(tarefa.id_tarefa_periodo)"><span class="glyphicon glyphicon-pause"></span></button>
                  <button ng-if="tarefa.id_tarefa_periodo <= 0" class="button" type="btn btn-primary" ng-click="iniciaTarefa(tarefa.id_tarefa)" ><span class="glyphicon glyphicon-play"></span></button>
                  <button ng-if="tarefa.id_tarefa_periodo >= 0" class="button" type="btn btn-primary" ng-click="resetaTarefa(tarefa.id_tarefa)" ><span class="glyphicon glyphicon-remove"></span></button>
              </h3>
          </li><hr>
        </ul>

      </div>

    </div>


    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
